
[Desktop Entry]
Version=1.0
Type=Application
Name=Fifteen
Comment=
Exec=xterm -e "fifteen; read -n1"
Icon=fifteen
Path=
Terminal=false
StartupNotify=false
GenericName=
