
[Desktop Entry]
Version=1.0
Type=Application
Name=pyPeripherals
Comment=
Exec=xterm -e "cd /home/nptl/code/peripheralCode/usbEthernetBridge/; ./runUEB.py; read -n1"
Icon=
Path=
Terminal=false
StartupNotify=false
GenericName=
