
[Desktop Entry]
Version=1.0
Type=Application
Name=Glove and Trackpad
Comment=
Exec=xterm -e "cd /home/nptl/code/peripheralCode/usbEthernetBridge && sh runUEB-bluetoothTrackpadPlusGlove.sh; read -n1"
Icon=
Path=
Terminal=false
StartupNotify=false
GenericName=
